<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>


    <!-- Incluye la hoja de estilo de Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Agrega tu hoja de estilo personalizada -->
    <link rel="stylesheet" type="text/css" href="/public/css/estilo.css">

    <!-- Agrega un estilo personalizado para la página de inicio -->
    <style>
        /* Estilo personalizado para la página de inicio */
        body {
            background-image: url("/public/css/logo.jpg"); /* URL de la imagen de fondo */
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
        .container {
            padding-top: 50px;
            text-align: center;
            color: #ffffff; /* Color del texto para mejor legibilidad */
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        .user-info {
            font-size: 24px;
            margin-top: 20px;
        }
        .login-link {
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MARKET HOUSE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>          
            </button>   
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <% if (login) { %>
                    <span class="navbar-text">Usuario conectado:</span>
                    <span class="navbar-text"><%= user %></span>
                    <a href="logout" class="navbar-text">Cerrar sesión</a>
                <% } else { %>
                    <a href="login" class="navbar-text">Iniciar sesión</a>
                <% } %>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Publicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registro</a>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Agrega el div para el mapa -->

        <div id="map"></div>

    
    <div class="container">
        <h1>NUESTRO FUTURO HOGAR</h1>
        <div class="user-info">
            <!-- Contenido adicional de la página -->
        </div>
    </div>

    <!-- Incluye el script de Bootstrap desde un CDN -->
</body>
<!-- Agrega la función iniciarMap -->
    <script src="/public/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4E7dHImO6wXgKFamKRy80er9KRh2Oztw&callback=iniciarMap"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</html>
