<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="login-form">
        <h2>Login</h2>
        <form action="login" method="post">
            <input type="text" name="user" id="user" placeholder="User">
            <input type="password" name="pass" id="pass" placeholder="Password">
            <input type="submit" class="btn-login" value="Login">
        </form>
        <a href="register" class="btn-register">Registro</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location='/<%= ruta %>'
            });
        </script>
    <% } %>
</body>
</html>