<!-- views/ver_propiedades.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Resto del encabezado... -->
</head>

<body>
    <h1>Propiedades del Usuario</h1>

    <!-- Agrega este log para verificar el valor de totalPropiedades -->


    <!-- Utiliza la variable totalPropiedades proporcionada por EJS -->
    <p>El usuario tiene <%= totalPropiedades %> propiedades.</p>
    <!-- Resto del cuerpo... -->
</body>

</html>
