<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="register-form">
        <h1>Formulario Registro</h1>
        <form action="/register" method="post">
            <label for="nombres">Nombres</label>
            <input type="text" name="nombres" required>

            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" required>

            <label for="user">Mail</label>
            <input type="text" name="user" required>

            <label for="rut">Rut</label>
            <input type="text" name="rut" required>

            <label for="rutCi">N° Documento</label>
            <input type="text" name="rutCi" required>

            <label for="pass">Password</label>
            <input type="password" name="pass" required>

            <label for="celular">Celular</label>
            <input type="text" name="celular" required>

            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" required>
            
            

            <div style="display: inline;">
                <input type="submit" class="btn-save" value="Save">
                <a href="/" class="btn-cancel">Cancelar</a>
            </div>


        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location='/<%= ruta %>'
            });
        </script>
    <% } %>
    

</body>
</html>